.card {
  width: 325px;
  height: 205px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  flex-direction: column;
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.card__btn {
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  border: none;
  padding: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card__btn:hover {
  opacity: 1;
}

.card__btn_type_flip {
  background-image: url("../images/flip.svg");
}

.card__btn_type_delete {
  background-image: url("../images/delete.svg");
}
.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__count {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.card_color_green {
  background-color: #64d583;
}

.card_color_blue {
  background-color: #91a8f9;
}

.card_color_pink {
  background-color: #ee92d7;
}

.card_color_purple {
  background-color: #aa8ef0;
}

.card_color_orange {
  background-color: #ee955e;
}

.card_color_yellow {
  background-color: #f5d770;
}
.card__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.card_flipped {
  background-color: #fff;
}
