.deck {
  width: 325px;
  height: 205px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  flex-direction: column;
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
}

.deck__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.deck__delete-btn {
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  border: none;
  padding: 0;
  z-index: 2;
}
.deck__delete-btn:hover {
  opacity: 1;
}

.deck__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck__count {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.deck_color_green {
  background-color: #64d583;
}

.deck_color_blue {
  background-color: #91a8f9;
}

.deck_color_pink {
  background-color: #ee92d7;
}

.deck_color_purple {
  background-color: #aa8ef0;
}

.deck_color_orange {
  background-color: #ee955e;
}

.deck_color_yellow {
  background-color: #f5d770;
}
.deck__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}
