.gallery__title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
}
.gallery__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery__new-card-btn {
  border: none;
  width: 325px;
  height: 205px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d9d9d9;
  border-radius: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;

  cursor: pointer;
  align-self: flex-start;
}
.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery__wrapper {
  display: block;
}
