@import url("../vendor/normalize.css");
@import url("./page.css");
@import url("./header.css");
@import url("./nav.css");
@import url("./footer.css");
@import url("./card.css");
@import url("./gallery.css");
@import url("./carousel.css");
[hidden] {
  display: none !important;
}

h1 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
